#conversation {
  flex: calc(100vw - 350px);
  height: 100vh;
  position: relative;
  background: #fff;
  overflow: scroll;

  .heading {
    padding: 7px 10px 7px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    position: fixed;
    background: #fff;
    z-index: 1;
    top: 0;
    height: 50px;
    width: calc(100vw - 350px);

    .name {
      flex: 2;
      font-size: 14px;
      margin-left: 10px;
      margin-top: 3px;
      font-weight: 600;
      color: #43444f;

      .activeAt {
        font-size: 12px;
        font-weight: 500;
        margin-top: 1px;
        color: #8a8d91;
      }
    }

    #buttonMenu {
      margin-left: 10px;
    }
    #textSearch {
      margin-right: 0px;
    }
  }
}
