#conversation {
  flex: calc(100vw - 350px);
  height: 100vh;
  position: relative;
  background: #fff;
  overflow: scroll;

  .heading {
    padding: 7px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    position: fixed;
    background: #fff;
    width: 100%;
    z-index: 1;
    top: 0;
    height: 50px;

    .name {
      flex: 1;
      font-size: 14px;
      margin-left: 10px;
      margin-top: 9px;
      font-weight: 600;
      color: #43444f;
    }
  }
}
