#layout {
  #myProfile {
    cursor: pointer;
    padding: 10px;
    display: flex;
    margin-bottom: 5px;

    .name {
      padding-left: 10px;
      font-size: 14px;
      font-weight: 600;
      color: #43444f;
      margin-top: 10px;
    }
    .info {
      margin-left: auto;
    }
  }
  #groupSearch {
    padding: 0 10px;

    .search {
      width: 100%;
      position: relative;
    }
  }
  #sideNav {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 100vh;
    position: relative;
  }
}
