@import "~typeface-roboto/index.css";
@import "converation";
@import "users";

body {
  margin: 0;
  padding: 0;
  color: #212121;
  font-family: 'Roboto', sans-serif;

  #layout {
    display: flex;
  }

  .user {
    margin: 0 0 10px 0;

    .name {
      color: #092aaa;
      text-decoration: underline;
    }
  }
}
