body {
  margin: 0;
  padding: 0;
  color: #212121;

  #layout {
    display: flex;

    #users {
      border-right: 1px solid #aaa;
      flex: 350px;
      height: 100vh;

      .content {
        padding: 10px;
        margin-top: 50px;
      }
    }
    #conversation {
      flex: 100%;
      height: 100vh;

      .content {
        padding: 10px;
        margin-top: 50px;
      }
    }
  }
}
