.search {
  flex: 1;
  position: relative;

  &.__dark {
    .searchIcon {
      color: #aaa;
    }
    .searchInput {
      background: #f1f1f4;

      &::placeholder {
        color: #aaa;
      }
    }
  }
  .searchIcon {
    position: absolute;
    color: #aaa;
    left: 10px;
    top: 9px;
    font-size: 17px;
  }
  .searchInput {
    background: #fff;
    padding: 8px;
    border: 1px solid #eee;
    width: 100%;
    border-radius: 5px;
    font-size: 14px;
    color: #666;
    padding-left: 33px;

    &::placeholder {
      color: #aaa;
    }
  }
}
