#users {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  width: 350px;
  height: 100vh;

  .heading {
    padding: 7px 10px;
    width: 100%;
    height: 50px;
    background: #f1f1f4;
    position: relative;
  }
  .items {
    overflow: scroll;
    background: #f1f1f4;
    height: calc(100% - 71px);

    .userItem {
      border-right: 3px solid transparent;
      &:hover {
        border-right: 3px solid #ccc;
        background: rgba(0, 0, 0, 0.08);
      }
      &.__active {
        border-right: 3px solid #ccc;
        background: rgba(0, 0, 0, 0.08);
      }
      .user {
        padding: 10px;

        .avatar {
        }
        time {
          position: absolute;
          color: #8a8d91;
          right: 10px;
          top: 10px;
          font-size: 11px;
        }
        .details {
          padding-left: 10px;
          overflow: hidden;

          .name {
            font-size: 14px;
            font-weight: 600;
            color: #43444f;
          }
          .lastMessage{
            font-size: 14px;
            color: #8a8d91;
            width: 1000px;
          }
        }
      }
    }
  }

}
