#messageWrite {
  padding: 15px;
  position: fixed;
  bottom: 0;
  right: 0;
  background: #fff;
  width: calc(100% - 351px);

  .messageContainer {
    margin: 0 10px 10px 49px;
    background: #f1f1f1;
    border-radius: 5px;
    position: relative;

    textarea {
      width: 100%;
      box-sizing: border-box;
      border: none;
      border-radius: 3px;
      background: #f1f1f4;
      resize: none;
      line-height: 24px;
      overflow: auto;
      height: auto;
      font-size: 16px;
      padding: 20px;
    }
    #buttonEmoji {
      position: absolute;
      top: 1px;
      right: 105px;
      z-index: 1;
    }
    #buttonUpload {
      position: absolute;
      top: 1px;
      right: 55px;
      z-index: 1;
    }
    #buttonSend {
      position: absolute;
      top: 1px;
      right: 0;
      z-index: 1;
    }
  }
}
