{
  "presets": [
    "@babel/preset-react",
    [ "@babel/preset-env", {
      "targets": {
        "browsers": "> 2%"
      }
    }]
  ],

  "plugins": [
    "react-hot-loader/babel"
  ]
}
