{
  "extends": "airbnb",
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    "no-restricted-globals": "off",
    "no-plusplus": "off",
    "no-console": "off",
    "no-param-reassign": "off",
    "space-before-function-paren": "off",
    "react/forbid-prop-types": "off",
    "react/prefer-stateless-function": "warn",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "linebreak-style": "off",
    "global-require": "off",
    "semi": "warn",
    "arrow-body-style": "off",
    "no-multiple-empty-lines": [
      "warn",
      {
        "max": 1
      }
    ]
  }
}
