.message {
  margin: 1px 20px;
  color: black;
  display: flex;

  .details {
    margin-left: 10px;

    .info {
      display: inline-block;
      font-size: 12px;
      color: #8a8d91;
    }
    .text {
      font-size: 14px;
      background: #2d7cc1;
      color: #fff;
      padding: 12px 15px;
      border-radius: 15px;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
  }
  &.__first__last {
    .details {
      .text {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 15px;
      }
    }
  }
  &.__first {
    .details {
      .text {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }
    }
  }
  &.__last {
    .details {
      .text {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 15px;
      }
    }
  }
  &.__noAvatar {
    .details {
      margin-left: 45px;
    }
  }
}

.messageMy {
  margin: 1px 25px;
  font-size: 14px;
  color: black;
  display: flex;
  flex-direction: row-reverse;

  .details {
    .info {
      display: inline-block;
      font-size: 12px;
      color: #8a8d91;
      width: 100%;
      text-align: right;
    }
    .text {
      background: #f1f1f4;
      color: #2b2c33;
      font-size: 14px;
      padding: 12px 15px;
      border-radius: 15px;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      float: right;
    }
  }

  &.__first__last {
    margin-top: 10px;
    .details {
      .text {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 15px;
      }
    }
  }
  &.__first {
    margin-top: 10px;
    .details {
      .text {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }
    }
  }
  &.__last {
    .details {
      .text {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 15px;
      }
    }
  }
}
