.message {
  margin: 1px 20px;
  color: black;
  display: flex;

  .details {
    margin-left: 10px;
    float: left;
    display: flex;

    .status {
      font-size: 11px;
      color: #8a8d91;
      padding: 5px;
      display: flex;
      margin-left: 5px;

      .checkMark {
        margin-left: 5px;
      }
    }
    .text {
      max-width: 600px;
      font-size: 14px;
      background: #2d7cc1;
      color: #fff;
      padding: 12px 15px;
      border-radius: 15px;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
  }
  &.__first__last {
    .details {
      .text {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 15px;
      }
    }
  }
  &.__first {
    .details {
      .text {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }
    }
  }
  &.__last {
    .details {
      .text {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 15px;
      }
    }
  }
  &.__noAvatar {
    .details {
      margin-left: 45px;
    }
  }
}

.messageMy {
  margin: 1px 25px;
  font-size: 14px;
  color: black;
  display: flex;
  flex-direction: row-reverse;

  .details {
    float: right;
    display: flex;
    .text {
      max-width: 600px;
      background: #f1f1f4;
      color: #2b2c33;
      font-size: 14px;
      padding: 12px 15px;
      border-radius: 15px;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
    .status {
      font-size: 11px;
      color: #8a8d91;
      padding: 5px;
      display: flex;
      margin-right: 5px;

      .checkMark {
        margin-right: 5px;
      }
    }
  }

  &.__first__last {
    margin-top: 10px;
    .details {
      .text {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 15px;
      }
    }
  }
  &.__first {
    margin-top: 10px;
    .details {
      .text {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }
    }
  }
  &.__last {
    .details {
      .text {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 15px;
      }
    }
  }
}
