.profilePhoto {
  position: relative;

  .online {
    background: #00d235;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    bottom: 3px;
  }

  &.__small {
    .online {
      right: 0;
      bottom: 1px;
    }
  }
}